{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>People index</title>

    <link rel="stylesheet" type="text/css" href="{% static 'aidooit_people/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'aidooit_core/css/style.css' %}">

</head>
<body>
    

    <h1 class="people_font">Your are in people index :)</h1>
    {% if people_list %}
        <ul>
            {% for person in people_list %}
                <li><a href="{% url 'aidooit_people:person_detail' person.id %}">{{ person }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No people are available :(</p>
    {% endif %}

    <a class="core_font">Bye!</a>
</body>
</html>
