{% load qr_code %}
<!DOCTYPE html>
<html>
<head>
    <title>Person details</title>
</head>
<body>
    <h1>Your are looking details for:</h1>
    {% if person %}
        <li> Name: {{ person }}</li>
        <li> mobile: {{ person.mobile }}</li>
        <li> phone: {{ person.phone }}</li>
        <li> email: {{ person.email }}</li>
        <li> Access Key: {{ person.access_key }}</li>

        {% qr_from_text person.access_key size="s" image_format="png" error_correction="L" %}

    {% endif %}

</body>
</html>
